.copyright {
  text-align: center;
}

.copyright__link {
  position: relative;
  top: 14px;

  color: @base-color;
  text-decoration: none;
}

.copyright__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 44px;
}

.copyright__logo {
  /*position: absolute;*/
  fill: @alarm-color;

  &:hover {
    fill: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}
