.filter__title {
  width: 256px;
  margin: 0 auto;
  padding: 43px 0;
  text-align: center;
  line-height: 30px;
}

.filter__picture {
  width: 320px;
  margin: 0 auto;
  padding: 18px 20px;
  padding-bottom: 30px;
  background-color: @silver-color;
}

.filter__figures {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 34px;
  padding-bottom: 30px;
}

.filter__item {
  &--crop {
    width: 44px;
    margin-left: auto;
  }

  &--fill {
    width: 48px;
    margin-left: 36px;
    margin-right: 41px;
  }

  &--contrast {
    width: 32px;
    margin-right: auto;
  }
}

.filter__icon {
  fill: @base-color;
  opacity: 0.3;
  cursor: pointer;

  &--active {
    fill: @alarm-color;
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    fill: @alarm-color;
    opacity: 1;
  }
}

.filter__range:not(.filter__range--active) {
  display: none;
}

.filter__range {
  position: relative;
  padding-bottom: 34px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 320px;
    height: 2px;
    background-color: @base-color;
    opacity: 0.1;
  }
}

.filter__scale {
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: @base-color;
}

.filter__toggle {
  position: absolute;
  top: -7px;
  right: 50px;
  z-index: 10;
  width: 14px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid @alarm-color;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background-color: @alarm-color;
  }
}

.filter__button {
  .font-bold();
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 20px;
  color: @alarm-color;
  font-size: 18px;
  line-height: 18px;
  border: none;
  background-color: transparent;
  border: 3px solid @alarm-color;
  border-radius: 30px;

  &:hover {
    color: #ffffff;
    background-color: @alarm-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @alarm-color;
  }

  &--cancel {
    color: @base-color;
    border: 3px solid @base-color;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
      color: @base-color;
      background-color: transparent;
    }

    &:active {
      opacity: 0.3;
      background-color: @base-color;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.filter__bar {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .filter__title {
    width: 430px;
    padding: 67px 0;
    font-size: 18px;
  }

  .filter__picture {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    padding: 40px 20px;
    padding-bottom: 32px;
  }

   .filter__controls {
    display: flex;
    flex-wrap: wrap;
    width: 275px;
  }

  .filter__item {
    margin: 0;
  }

  .filter__range:not(.filter__range--active) {
    display: block;
  }

  .filter__image {
    width: 300px;
    margin-right: 43px;
    margin-top: 17px;
  }

  .filter__figures {
    width: 30px;
    padding: 0;
    display: block;
    padding-top: 25px;
    padding-left: 5px;
  }

  .filter__item {
    &--crop {
      margin-bottom: 45px;
    }

    &--fill {
      margin-bottom: 40px;
    }
  }

  .filter__keys {
    flex-grow: 1;
    display: block;
    padding-top: 27px;
    padding-left: 2px;
    padding-right: 8px;
  }

  .filter__button {
    margin-bottom: 24px;
  }

  .filter__range {
    padding-bottom: 71px;

    &::after {
      width: 275px;
      height: 1px;
    }
  }

  .filter__scale {
    position: relative;
    bottom: -34px;
    left: 27px;
    width: 202px;
  }

  .filter__toggle {
    position: absolute;
    bottom: -34px;
    top: 28px;

    &--crop {
      left: 170px;
    }

    &--fill {
      left: 54px;
    }

    &--contrast {
      left: 120px;
    }
  }

  .filter__icon {
    fill: @alarm-color;
    opacity: 1;
    &--crop {
      width: 24px;
      height: 24px;
    }

    &--fill {
      width: 27px;
      height: 25px;
      // margin: 0;
      // margin-bottom: 8px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .filter__title {
    padding: 62px 0;
  }

  .filter__picture {
    width: 940px;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 45px;

  }

  .filter__image {
    margin-right: 84px;
  }

  .filter__controls {
    width: 410px;
  }

  .filter__figures {
    width: 60px;
    padding-top: 11px;
    margin-right: 40px;
  }

  .filter__bar {
    width: 288px;
  }

  .filter__item {
    margin-bottom: 22px;
  }

  .filter__icon {
    &--crop {
      width: 46px;
      height: 46px;
    }

    &--fill {
      width: 50px;
      height: 46px;
    }

    &--contrast {
      width: 34px;
      height: 34px;
    }
  }

  .filter__scale {
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 288px;
  }

  .filter__toggle {
    &--crop {
      left: 70px;
    }

    &--fill {
      left: 245px;
    }

    &--contrast {
      left: 160px;
    }
  }

  .filter__keys {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0;
    padding-left: 7px;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .filter__button {
    width: 183px;
    margin: 0;

    &:first-child {
      // margin-right: 30px;
    }
  }
}
