@media (min-width: @desktop-width) {
  .modal {
    display: none;
    width: 782px;
  }

  .modal__ok,
  .modal__error {
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  }

  .modal__top {
    padding-right: 190px;
    padding-left: 190px;
    padding-top: 45px;
    padding-bottom: 39px;
    text-align: center;
  }

  .modal__bottom {
    padding-top: 50px;
    padding-bottom: 54px;
    text-align: center;
    background-color: @silver-color;
  }

  .modal__caption {
    .font-bold();
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }

  .modal__text {
    font-size: 18px;
    line-height: 24px;
  }

  .modal__button {
    .font-bold();
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #2aab6d;
    border: none;

    &--repair {
      width: 456px;
    }

    &--fault {
      width: 296px;
    }
  }
}
