.page-header {
  position: relative;
  color: #ffffff;
  background-color: @background-color;
}

.page-header__container {
  width: 280px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.page-header__toggle {
  position: relative;
  width: 24px;
  height: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    height: 27px;
    width: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: @tablet-width) {
  .page-header__container {
    width: 620px;
    padding-top: 27px;
    padding-bottom: 42px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header .page-header__wrapper {
    display: flex;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .page-header__logo {
    width: 150px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__navigation {
    width: 790px;
  }
}
