.reviews__item {
  display: none;
  &--item1 {
    display: block;
  }
}

.reviews__name {
  color: #000000;
  .font-bold();
  font-size: 18px;
}

.reviews__feature {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__feature {
    display: block;
    font-size: 14px;
    .font-base();
  }
}
