html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  color: @base-color;
  font-size: 14px;
  line-height: 24px;
  .font-base();
}

.content-wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  body {
    width: 660px;
  }

  .content-wrapper {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 100%;
  }

  .content-wrapper {
    width: 940px;
  }
}
