.font-base() {
  font-family: "OpenSans", "Arial", sans-serif;
}

.font-light() {
  font-family: "OpenSansLight", "Arial", sans-serif;
}

.font-bold() {
  font-family: "OpenSansBold", "Arial", sans-serif;
}
